DATABASE_URL="file:./dev.db"
NEXTAUTH_SECRET="your-secret-key-here"
NEXTAUTH_URL="http://localhost:3000"
UPLOADTHING_SECRET="your-uploadthing-secret-key-here"
UPLOADTHING_TOKEN='your-uploadthing-token'
MISTRAL_API_KEY="your-mistral-api-key-here"