DATABASE_URL="postgresql://postgres:postgres@localhost:5432/studyhub?schema=public"
DATABASE_URL="file:./dev.db"
NEXTAUTH_SECRET="your-secret-key-here"
NEXTAUTH_URL="http://localhost:3000"
UPLOADTHING_SECRET="your-uploadthing-secret-key-here"
UPLOADTHING_TOKEN='your-uploadthing-token'
MISTRAL_API_KEY="your-mistral-api-key"
MISTRAL_MODEL="mistral-large-latest"
MISTRAL_VISION_MODEL="pixtral-12b-2409"
